---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Serge KOUAME" description="À propos de Serge KOUAME">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Découvrez mon parcours et mes compétences."
			>
				<img
					width="1553"
					height="873"
					src="/Portfolio/assets/at-work.jpg"
					alt="Serge kouame - À propos"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Présentation</h2>
				<div class="content">

					<p>
						Je suis un développeur web full stack passionné par les technologies de l'information et l'infographie. 
						Avec plus de 3 ans d'expérience dans le développement web, j'ai acquis une expertise solide dans la création d'applications performantes et intuitives.
					</p><br/>

					<p>
						Mon parcours m'a permis de maîtriser les différentes étapes du développement web, de la conception initiale à la mise en production et à la maintenance continue. 
						J'ai développé des compétences pointues en HTML, CSS et JavaScript, ainsi qu'une maîtrise des langages back-end grâce à Laravel et des bibliothèques front-end comme React.js.
					</p><br/>

					<p>
						En parallèle, ma certification Microsoft Power Platform Fundamentals témoigne de mon engagement envers les solutions intelligentes d'automatisation et d'analyse de données. 
						J'ai acquis la capacité de créer des flux de travail automatisés avec Power Automate, de développer des applications sans code avec Power Apps et de présenter 
						des données stratégiques avec Power BI.
					</p><br/>

					<p>
						Mon expérience de travail dans des environnements agiles a renforcé mon aptitude à m'adapter rapidement aux nouvelles technologies. 
						Je crois en l'importance de la communication transparente et du partage de connaissances pour garantir la réussite d'une équipe.
					</p><br/>

					<p>
						Ma passion pour l'apprentissage continu me pousse constamment à explorer de nouvelles technologies et à relever de nouveaux défis. 
						Je suis enthousiaste à l'idée d'apporter mon expertise en développement web et en Microsoft Power Platform à des projets stimulants.
					</p>

				</div>
			</section>
			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
						<span> <b> Depuis Octobre 2022 </b></sapn><br/>  
						Je suis <b>consultant développeur web full-stack</b> chez <b>Ivoire ZenTech</b>, où je crée des applications réfléchies et inclusives qui adhèrent aux normes web.<br/><br/>
					</p>

					<p> 
						<span><b> Avril 2022 - Septembre 2022</b> </sapn><br/>
						J'étais <b>développeur web full-stack</b> chez <b>AssurLand Côte d'Ivoire</b>, où j'ai travaillé sur la version 3 d'une plateforme de gestion et de vente d'assurance nommée <b>ASSURSUITE</b>. 
						Cette plateforme est utilisée par plusieurs millions de personnes en Côte d'Ivoire, au Mali et au Sénégal. 
						J'ai été responsable du développement de nouvelles fonctionnalités, de l'amélioration de la performance et de la sécurité de la plateforme. 
						Je suis fier du travail que j'ai accompli sur cette plateforme et je suis convaincu que cette plateforme a eu un impact positif sur la vie de millions de personnes.<br/><br/>
					</p> 

					<p> 
						<span><b> Octobre 2019 - Avril 2022 </b></sapn><br/> 
						J'ai commencé comme stagiaire chez <b>Yann' Digital technologies</b>, où j'ai contribué au développement d'applications et d'interfaces fluides 
						pour les organisations et les particuliers. J'ai ensuite été embauché en tant que Développeur Web à plein temps, où 
						j'ai continué à développer mes compétences et à apprendre de nouvelles technologies. 
						Je suis passionné par le développement web et je suis toujours à la recherche de nouveaux défis.
					</p>

				</div>
			</section>
			<section>
				<h2 class="section-title">Formations</h2>
				<div class="content">
					<p> BAC+2 Réseaux et Génie Logiciels (RGL), BTS en Informatique Développeur d'Applications (IDA).</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Aptitudes</h2>
				<div class="content">
					<p>
						• Concevoir ou participer à la Conception et à la création de logiciels évolutifs en utilisant des
						technologies modernes. <br/> 
						• Expérience dans la compréhension des besoins des utilisateurs et la création de cahiers des charges pour
						des projets web complexes.<br/>
						• Développer et gérer des bases de données qui fonctionnent bien. <br/>
						• Solide expérience en maintenance, correction de bugs, et amélioration de sites et applications web pour
						assurer leur fonctionnement optimal.<br/>
						• Expertise dans la création et l'intégration d'API sécurisées, scalables et performantes pour garantir une
						compatibilité et une interopérabilité maximale avec d'autres systèmes.<br/>
						• Capacité à gérer efficacement le temps et à respecter scrupuleusement les délais pour livrer des projets de
						haute qualité dans les délais impartis.<br/>
						• Je maîtrise Photoshop et Illustrator, ce qui me permet de créer des visuels attrayants et professionnels qui peuvent aider à améliorer l'efficacité de mon travail. <br/><br/>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences techniques</h2>
				<div class="content">
					<p>
						• Langages de programmation : HTML, CSS, PHP, JavaScript, C, .NET, Visual basic. <br/>  
						• Frameworks : Bootstrap, JQuery, Laravel, ReactJs. <br/>  
						• Outils : Git, JIRA. <br/>  
						• Base de données : SQL, MySQL/PDO. <br/>  
					</p> 
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences comportementales</h2>
				<div class="content">
					<p>
						• Curieux <br/>  
						• Créatif <br/>  
						• Autonome <br/>  
						• Organisé <br/>  
						• Dynamique <br/>  
						• Polyvalent <br/>  
						• Travail d'équipe <br/>  
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Certifications</h2>
				<div class="content">
					<p>Microsoft Certified: Power Platform Fundamentals</p> 
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
